<%-partial(VIEW_DIR + "partials/pageHeader.ejs") %>
<%-partial(VIEW_DIR + "partials/navbar.ejs") %>

		<div class="container minHeight500">
			<div class="row">
				<div class="span6"><%-body %></div>
				<div class="span6">
					<img src="<%=BASE_URL%>img/nadonline.jpg" />
				</div>
			</div>
			<%-partial(VIEW_DIR + "partials/footer.ejs") %>
		</div>

<%-partial(VIEW_DIR + "partials/pageFooter.ejs") %>