<%-partial("pageHeader.ejs") %>
<%-partial("navbar.ejs") %>

		<div class="container">
			<div class="row">
				<div class="span6"><%-body %></div>
				<div class="span6">
					<img src="<%=config.BaseUrl%>img/nadonline.jpg" />
				</div>
			</div>
			<%-partial("footer.ejs") %>
		</div>

<%-partial("pageFooter.ejs") %>