<%-partial(config.Dirs.viewDir + "/partials/pageHeader.ejs") %>
<%-partial(config.Dirs.viewDir + "/partials/navbar.ejs") %>

		<div class="container minHeight500">
			<div class="row-fluid">
				<div class="span12"><%-body %></div>
			</div>
			<%-partial(config.Dirs.viewDir + "/partials/footer.ejs") %>
		</div>

<%-partial(config.Dirs.viewDir + "/partials/pageFooter.ejs") %>