<%-partial(VIEW_DIR + "partials/pageHeader.ejs") %>
<%-partial(VIEW_DIR + "partials/navbar.ejs") %>

		<div class="container minHeight500">
			<div class="row-fluid">
				<div class="span12"><%-body %></div>
			</div>
			<%-partial(VIEW_DIR + "partials/footer.ejs") %>
		</div>

<%-partial(VIEW_DIR + "partials/pageFooter.ejs") %>