<%-partial("pageHeader.ejs") %>
<%-partial("navbar.ejs") %>

		<div class="container">
			<div class="row-fluid">
				<div class="span12"><%-body %></div>
			</div>
			<%-partial("footer.ejs") %>
		</div>

<%-partial("pageFooter.ejs") %>