<%-partial("pageHeader.ejs") %>
<%-partial("navbar.ejs") %>

		<div class="container">
			<div class="row">
				<div class="span8"><%-body %></div>
				<div class="span4"><%-partial(sidebar) %></div>
			</div>
			<%-partial("footer.ejs") %>
		</div>

<%-partial("pageFooter.ejs") %>