<%
	active = typeof active === "object" ? active : {};
	for(var i in active) {
		active[i] = active[i] ? 'class="active"' : "";
	}
%>

<div class="navbar navbar-fixed-top my-topNav">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%=config.logo %></a>

      	<ul class="nav">
			<li <%-active["index"] %> >
				<a href="./" title="首页">首页</a>
			</li>
			<li <%-active["forum"] %> >
				<a href="forum">交流讨论</a>
			</li>
			<li <%-active["share"] %> >
				<a href="#">学习分享</a>
			</li>
		</ul>
		<%
			if(session.auth) {
		%>
		<ul class="nav pull-right">
			<li><a>欢迎您，<%=session.user.name %></a></li>
			<li><a href="pim" title="个人中心">个人中心</a></li>
			<li class="divider-vertical"></li>
			<li><a href="logout" title="退出登陆">退出</a></li>
		</ul>
		<% } else { %>
		<ul class="nav pull-right">
			<li>
				<a href=".signIn" data-toggle="modal">登 陆</a>
			</li>
			<li>
				<a href="/regist"> 注 册</a> 
			</li>

		</ul>
		<% } %>
    </div>
  </div>
</div>